@import 'styles/variables.scss';

div.description {
  width: $contents_width;
  margin-right: auto;
  margin-left: auto;

  div.type {
    text-align: center;
    margin-top: $contents_margin;
  }

  div.title {
    text-align: center;
    font-size: $title_font_size;
  }

  div.release {
    text-align: center;
  }

  div.song {
    white-space: pre-line;
  }

  div.link {
    margin-top: $contents_margin;
    color: rgb(201, 201, 151);
  }

  hr.line {
    border-width: 0.1px 0 0 0;
    margin-top: $contents_margin;
    margin-bottom: $contents_margin;
  }
}

div.image_container {
  text-align: center;

  img.image {
    object-fit: contain;
    width: $contents_width;
    height: unset;
    margin-top: $image_margin;
  }
}
