@import 'styles/variables.scss';

div.image_container {
  text-align: center;

  img.image {
    object-fit: contain;
    width: $contents_width_pc;
    height: unset;
    margin-top: $image_margin;

    @media screen and (max-width: 600px) {
      width: $contents_width_sp;
    }
  }
}
