@import 'styles/variables.scss';

div.image_container {
  text-align: center;

  img.image {
    object-fit: contain;
    width: $contents_width;
    height: unset;
    margin-top: $image_margin;
  }
}
