@import 'styles/variables.scss';

div.imageContainer {
  position: unset !important;
  text-align: center;

  img.image {
    object-fit: contain;
    position: relative !important;
    width: $contents_width !important;
    margin-top: $image_margin;
  }
}
