$width: 560px;

div.description {
  width: $width;
  margin-right: auto;
  margin-left: auto;

  div.title {
    text-align: center;
    font-size: 30px;
  }

  div.time_place {
    text-align: center;
    margin-top: 20px;
  }

  div.detail {
    white-space: pre-line;
  }

  hr.line {
    border-width: 0.1px 0 0 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

div.imageContainer {
  text-align: center;

  img.image {
    object-fit: contain;
    position: relative !important;
    width: $width !important;
  }
}
