@import 'styles/variables.scss';

div.box {
  margin-top: $contents_margin;
  margin-left: auto;
  margin-right: auto;
  width: $contents_width_pc;
  border: solid 0.1px #ffffff;

  @media screen and (max-width: 600px) {
    width: $contents_width_sp;
  }

  div.content {
    position: relative;
    padding: 0.5em 1em;

    a {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }

  div.content:hover {
    background-color: #08082d;

    @media screen and (max-width: 600px) {
      background-color: black;
    }
  }

  div.time_place {
    font-size: 13px;
  }
}

div.pager {
  margin-top: $contents_margin;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;

  div.content {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;

    button.prev {
      right: 60%;
      position: absolute;
      z-index: 1;
      padding: 0.5rem 2rem;
      border: 2px solid #024054;
      color: #ffffff;
      background: #092226;
      border-radius: 100vh;
      transition: 0.5s;
    }

    button.next {
      left: 60%;
      position: absolute;
      z-index: 1;
      padding: 0.5rem 2rem;
      border: 2px solid #033241;
      color: #ffffff;
      background: #011a1e;
      border-radius: 100vh;
      transition: 0.5s;
    }

    span.page {
      position: absolute;
      right: 0;
      left: 0;
    }
  }
}
