@import 'styles/variables.scss';

footer.footer {
  margin-top: $layout_margin;
  margin-bottom: $layout_margin;
}

hr.line {
  border-width: 0.1px 0 0 0;
}

div.icons {
  text-align: center;
  margin-top: $layout_margin;
  margin-bottom: $layout_margin;

a.icon {
  margin-left: 25px;
}
}
