header.header {
  background: rgb(16, 18, 30);
  margin-bottom: 40px;
}

div.rightLinks,
div.leftLinks {
  display: inline-flex;
  height: 60px;
  align-items: center;
}

a.logo {
  margin-left: 35px;
}

div.rightLinks {
  float: right;

  a.rightLink {
    margin-right: 35px;
  }
}
