@import 'styles/variables.scss';

header.header {
  background: rgb(16, 18, 30);
  margin-bottom: $layout_margin;
}

div.rightLinks,
div.leftLinks {
  display: inline-flex;
  height: 60px;
  align-items: center;
}

div.leftLinks {

  a.logo {
    margin-left: 30px;
  }
}

div.rightLinks {
  float: right;

  a.rightLink {
    margin-right: 30px;
  }
}
