@import 'styles/variables.scss';

header.header {
  background: rgb(16, 18, 30);
  margin-bottom: $layout_margin;
}

div.right_links,
div.left_links {
  display: inline-flex;
  height: 60px;
  align-items: center;
}

div.left_links {

  a.logo {
    margin-left: 30px;
  }
}

div.right_links {
  float: right;

  a.right_link {
    margin-right: 30px;
  }
}
